.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
android/.gradle/
android/local.properties
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
macos/Flutter/GeneratedPluginRegistrant.swift
linux/flutter/generated_plugin_registrant.*
windows/flutter/generated_plugin_registrant.*
*.iml
.idea/
.vscode/
firebase_options.dart.bak
